{% extends "base.html.twig" %}

{% block title %}
    Page d'accueil
{% endblock title %}

{% block main %}
    <section class="title">
        <h1>{{ message }}</h1>
    </section>

    <section class="buddha-presentationimg">
        <img class="buddha-img" src="https://images.unsplash.com/photo-1553285207-a28928d5cc82?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8YnVkZGhhfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60" alt="buddha">
    </section>

   <section class="buddha-presentation">
       <div>
           <h2 class="presentation-text-title">Ce blog vous invite à voyagez à travers les statues de Buddha dans le monde. </h2>
       </div>
        <div class="presentation-bg">
            <p class="desc-blog">Les bouddhistes ont érigé des statues aussi superbes que gigantesques partout à travers l’Asie. Le résultat est tellement surprenant que de nombreux globe-trotters sont prêts à traverser un pays entier juste pour les découvrir. Mais quelles sont elles ?</p>
        </div>
   </section>

{% endblock main %}
